USE [FamilyTreeDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/17/2025 6:51:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 10/17/2025 6:51:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/17/2025 6:51:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/17/2025 6:51:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/17/2025 6:51:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/17/2025 6:51:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/17/2025 6:51:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](20) NULL,
	[PersonalID] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastLogin] [datetime2](7) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 10/17/2025 6:51:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [int] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventRegistrations]    Script Date: 10/17/2025 6:51:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventRegistrations](
	[RegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NOT NULL,
	[PersonalID] [int] NOT NULL,
	[RegisteredAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EventRegistrations] PRIMARY KEY CLUSTERED 
(
	[RegistrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Events]    Script Date: 10/17/2025 6:51:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[EventType] [nvarchar](50) NOT NULL,
	[EventDate] [datetime2](7) NULL,
	[Location] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ImageURL] [nvarchar](500) NOT NULL,
	[OrganizerID] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Families]    Script Date: 10/17/2025 6:51:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Families](
	[FamilyID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[OriginalPlace] [nvarchar](200) NOT NULL,
	[BranchName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Families] PRIMARY KEY CLUSTERED 
(
	[FamilyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Marriages]    Script Date: 10/17/2025 6:51:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marriages](
	[MarriageID] [int] IDENTITY(1,1) NOT NULL,
	[Spouse1ID] [int] NOT NULL,
	[Spouse2ID] [int] NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Marriages] PRIMARY KEY CLUSTERED 
(
	[MarriageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ParentChildren]    Script Date: 10/17/2025 6:51:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParentChildren](
	[ParentID] [int] NOT NULL,
	[ChildID] [int] NOT NULL,
	[PC_ID] [int] NOT NULL,
	[RelationshipType] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ParentChildren] PRIMARY KEY CLUSTERED 
(
	[ParentID] ASC,
	[ChildID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[People]    Script Date: 10/17/2025 6:51:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonalID] [int] IDENTITY(1,1) NOT NULL,
	[FamilyID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Birthday] [datetime2](7) NULL,
	[DeathDate] [datetime2](7) NULL,
	[BirthPlace] [nvarchar](200) NOT NULL,
	[PhotoUrl] [nvarchar](500) NOT NULL,
	[Generation] [int] NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[PersonalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251016134229_DbGiaPha', N'6.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251016142014_DbGiaPhafix', N'6.0.0')
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 

INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (1, N'Admin', N'ADMIN', N'ROLE_ADMIN_STAMP')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (2, N'Manager', N'MANAGER', N'ROLE_MANAGER_STAMP')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (3, N'User', N'USER', N'ROLE_USER_STAMP')
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

INSERT [dbo].[AspNetUsers] ([Id], [Role], [PersonalID], [CreatedAt], [LastLogin], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount], [Password]) VALUES (9, N'User', 28, CAST(N'2025-10-16 23:18:31.8200000' AS DateTime2), NULL, N'nga', N'NGA', N'nga@example.com', N'NGA@EXAMPLE.COM', 1, NULL, NULL, NULL, N'0912345681', 1, 0, NULL, 0, 0, N'1234')
SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
SET IDENTITY_INSERT [dbo].[EventRegistrations] ON 

INSERT [dbo].[EventRegistrations] ([RegistrationID], [EventID], [PersonalID], [RegisteredAt]) VALUES (35, 10, 26, CAST(N'2025-10-16 21:04:55.4170000' AS DateTime2))
INSERT [dbo].[EventRegistrations] ([RegistrationID], [EventID], [PersonalID], [RegisteredAt]) VALUES (36, 10, 25, CAST(N'2025-10-16 22:08:15.5738793' AS DateTime2))
INSERT [dbo].[EventRegistrations] ([RegistrationID], [EventID], [PersonalID], [RegisteredAt]) VALUES (37, 10, 25, CAST(N'2025-10-16 22:24:19.8616672' AS DateTime2))
SET IDENTITY_INSERT [dbo].[EventRegistrations] OFF
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([EventID], [Title], [EventType], [EventDate], [Location], [Description], [ImageURL], [OrganizerID], [CreatedAt]) VALUES (10, N'Họp Mặt Gia Đình Đào', N'Gặp Mặt', CAST(N'2025-12-20 00:00:00.0000000' AS DateTime2), N'Huế', N'Họp Mặt Gia Đình Cuối Năm', N'https://example.com/event1.jpg', 25, CAST(N'2025-10-16 21:04:55.3970000' AS DateTime2))
INSERT [dbo].[Events] ([EventID], [Title], [EventType], [EventDate], [Location], [Description], [ImageURL], [OrganizerID], [CreatedAt]) VALUES (12, N'Giỗ Tổ Họ Đào ', N'Giỗ Tổ', CAST(N'2025-12-12 00:00:00.0000000' AS DateTime2), N'Huế', N'Giỗ Tổ Họ Đào ', N'https//example.com/event114', 25, CAST(N'2025-10-16 21:04:55.3970000' AS DateTime2))
INSERT [dbo].[Events] ([EventID], [Title], [EventType], [EventDate], [Location], [Description], [ImageURL], [OrganizerID], [CreatedAt]) VALUES (13, N'Hội Ngộ Gia Đình', N'Gặp Mặt', CAST(N'2026-01-10 00:00:00.0000000' AS DateTime2), N'Hà Nội', N'Hội ngộ cuối năm', N'https://example.com/event2.jpg', 28, CAST(N'2025-10-16 23:18:31.8730000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Events] OFF
SET IDENTITY_INSERT [dbo].[Families] ON 

INSERT [dbo].[Families] ([FamilyID], [Name], [OriginalPlace], [BranchName], [CreatedAt]) VALUES (8, N'Ðào', N'Hà N?i', N'Chi 1', CAST(N'2025-10-16 21:04:55.2130000' AS DateTime2))
INSERT [dbo].[Families] ([FamilyID], [Name], [OriginalPlace], [BranchName], [CreatedAt]) VALUES (9, N'Nguy?n', N'Hu?', N'Chi 1', CAST(N'2025-10-16 21:04:55.2200000' AS DateTime2))
INSERT [dbo].[Families] ([FamilyID], [Name], [OriginalPlace], [BranchName], [CreatedAt]) VALUES (10, N'Tr?n', N'H?i Phòng', N'Chi 2', CAST(N'2025-10-16 21:04:55.2200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Families] OFF
SET IDENTITY_INSERT [dbo].[Marriages] ON 

INSERT [dbo].[Marriages] ([MarriageID], [Spouse1ID], [Spouse2ID], [StartDate], [Status]) VALUES (28, 25, 27, CAST(N'2023-01-01 00:00:00.0000000' AS DateTime2), N'Ðang sống')
INSERT [dbo].[Marriages] ([MarriageID], [Spouse1ID], [Spouse2ID], [StartDate], [Status]) VALUES (29, 26, 31, CAST(N'2024-01-01 00:00:00.0000000' AS DateTime2), N'Đang sống')
SET IDENTITY_INSERT [dbo].[Marriages] OFF
INSERT [dbo].[ParentChildren] ([ParentID], [ChildID], [PC_ID], [RelationshipType]) VALUES (25, 26, 1, N'Con ru?t')
INSERT [dbo].[ParentChildren] ([ParentID], [ChildID], [PC_ID], [RelationshipType]) VALUES (26, 32, 2, N'Con ruột')
INSERT [dbo].[ParentChildren] ([ParentID], [ChildID], [PC_ID], [RelationshipType]) VALUES (31, 32, 3, N'Con ruột')
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([PersonalID], [FamilyID], [Name], [Gender], [Birthday], [DeathDate], [BirthPlace], [PhotoUrl], [Generation], [Email], [Phone], [CreatedAt], [UpdatedAt]) VALUES (25, 8, N'Đào Hữu Quốc', N'Nam', CAST(N'2000-01-01 00:00:00.0000000' AS DateTime2), NULL, N'Hà Nội', N'https://example.com/photo1.jpg', 3, N'hung.dao@example.com', N'0912345678', CAST(N'2025-10-16 21:04:55.2870000' AS DateTime2), CAST(N'2025-10-16 21:04:55.2870000' AS DateTime2))
INSERT [dbo].[People] ([PersonalID], [FamilyID], [Name], [Gender], [Birthday], [DeathDate], [BirthPlace], [PhotoUrl], [Generation], [Email], [Phone], [CreatedAt], [UpdatedAt]) VALUES (26, 8, N'Anh Vũ', N'Nam', CAST(N'2000-05-15 00:00:00.0000000' AS DateTime2), NULL, N'Hà Nội', N'https://example.com/photo2.jpg', 3, N'vu.dao@example.com', N'0912345679', CAST(N'2025-10-16 21:04:55.2900000' AS DateTime2), CAST(N'2025-10-16 21:04:55.2900000' AS DateTime2))
INSERT [dbo].[People] ([PersonalID], [FamilyID], [Name], [Gender], [Birthday], [DeathDate], [BirthPlace], [PhotoUrl], [Generation], [Email], [Phone], [CreatedAt], [UpdatedAt]) VALUES (27, 8, N'Thiên Anh', N'Nữ', CAST(N'2001-03-10 00:00:00.0000000' AS DateTime2), NULL, N'Hà Nội', N'https://example.com/photo3.jpg', 3, N'hang.dao@example.com', N'0912345680', CAST(N'2025-10-16 21:04:55.2930000' AS DateTime2), CAST(N'2025-10-16 21:04:55.2930000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[People] OFF
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (N'') FOR [Password]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_People_PersonalID] FOREIGN KEY([PersonalID])
REFERENCES [dbo].[People] ([PersonalID])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_People_PersonalID]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[EventRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_EventRegistrations_Events_EventID] FOREIGN KEY([EventID])
REFERENCES [dbo].[Events] ([EventID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventRegistrations] CHECK CONSTRAINT [FK_EventRegistrations_Events_EventID]
GO
ALTER TABLE [dbo].[EventRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_EventRegistrations_People_PersonalID] FOREIGN KEY([PersonalID])
REFERENCES [dbo].[People] ([PersonalID])
GO
ALTER TABLE [dbo].[EventRegistrations] CHECK CONSTRAINT [FK_EventRegistrations_People_PersonalID]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_People_OrganizerID] FOREIGN KEY([OrganizerID])
REFERENCES [dbo].[People] ([PersonalID])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_People_OrganizerID]
GO
ALTER TABLE [dbo].[Marriages]  WITH CHECK ADD  CONSTRAINT [FK_Marriages_People_Spouse1ID] FOREIGN KEY([Spouse1ID])
REFERENCES [dbo].[People] ([PersonalID])
GO
ALTER TABLE [dbo].[Marriages] CHECK CONSTRAINT [FK_Marriages_People_Spouse1ID]
GO
ALTER TABLE [dbo].[Marriages]  WITH CHECK ADD  CONSTRAINT [FK_Marriages_People_Spouse2ID] FOREIGN KEY([Spouse2ID])
REFERENCES [dbo].[People] ([PersonalID])
GO
ALTER TABLE [dbo].[Marriages] CHECK CONSTRAINT [FK_Marriages_People_Spouse2ID]
GO
ALTER TABLE [dbo].[ParentChildren]  WITH CHECK ADD  CONSTRAINT [FK_ParentChildren_People_ChildID] FOREIGN KEY([ChildID])
REFERENCES [dbo].[People] ([PersonalID])
GO
ALTER TABLE [dbo].[ParentChildren] CHECK CONSTRAINT [FK_ParentChildren_People_ChildID]
GO
ALTER TABLE [dbo].[ParentChildren]  WITH CHECK ADD  CONSTRAINT [FK_ParentChildren_People_ParentID] FOREIGN KEY([ParentID])
REFERENCES [dbo].[People] ([PersonalID])
GO
ALTER TABLE [dbo].[ParentChildren] CHECK CONSTRAINT [FK_ParentChildren_People_ParentID]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_Families_FamilyID] FOREIGN KEY([FamilyID])
REFERENCES [dbo].[Families] ([FamilyID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_Families_FamilyID]
GO
